* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.display_flex {
  display: flex;
}
.align_center {
  align-items: center;
}
.justify_center {
  justify-content: center;
}
.oculto {
  display: none;
}

/*BODY */

body {
  font-family: Roboto;
  font-size: 12px;
  background-color: #ebebeb;
}
/* HEADER */


header {
  overflow: hidden;
  background: #EAC926;
  padding: 20px 0;
}


.burger-menu {
  text-align: center;
}

.hamburguesa {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.titulo-cuotas {
  text-align: center;
  margin: 10px 0;
  width: 100%;
}

.logo-busqueda {
  display: flex;
  flex-wrap: wrap;
}


.logo-ml {
  padding: 0 10px;
  width: 50%;
}

.barra-busqueda {
  display: flex;
  width: 50%;
  padding: 0 10px;
}

form.barra-busqueda input {
  width: 100%;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  border: none;
  outline: none;
  height: 20px;
}

form.barra-busqueda input:target {
  outline: none;
}

form.barra-busqueda button[type="submit"]{
  border-radius: 0 10px 10px 0;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  height: 20px;
  
}

.lista-ofertas li a,
.lista-cuenta li a {
  text-decoration: none;
  color: black;
}

.lista-ofertas,
.lista-cuenta {
  display: none;
  list-style: none;
}


.titulo-cuotas {
  text-align: center;
  margin: 10px 0;
  width: 100%;
}

/*MAIN*/




div#productos {
  width: 90vw;
  margin: auto;
}
.img_banner {
  top: 0px;
  width: 100%;
}
h3.titulares {
  padding-left: 10px;
  justify-content: flex-start;
  color: #666;
  font-size: 24px;
}
#seccion_productos,
#seccion_ofertas {
  background-color: #ebebeb;
  margin-top: 20px;
}
#seccion_productos img,
#seccion_ofertas img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.product {
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
  position: relative;
}
.product img {
  border-bottom: 2px solid #ebebeb;
}
.precio_desc {
  display: flex;
  height: 30px;
  align-items: baseline;
}
.precios {
  margin: 0px;
  font-size: 18px;
  height: 30px;
  width: 30%;
  text-align: center;
}
.descuentos {
  margin: 0px;
  font-size: 16px;
  color: #39b54a;
  height: 30px;
  width: 70%;
  justify-content: center;
}
main div article i {
  display: block;
  font-size: 15px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid green;
  color: green;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 15px;
}
.descripciones {
  display: none;
}

/*FOOTER*/
footer{
  text-align: center;
  background-color: white;
}

.footer-general {
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
}

.icon-footer {
  font-size: 2em;
  color: rgb(17, 17, 111);
  margin-bottom: 10px;
}

.footer-general h4 {
  padding-top: 20px;
  font-size: 18px;
  color: #666;
}

.footer-general p {
  padding-bottom: 20px;
 
  color: #666;
 
}
div#copyright p {
  text-align: left;
  padding-top: 40px;
}

/* ------------------MEDIA QUERIES-------------------- */
@media (min-width: 360px) {

  .lista-ofertas,
  .lista-cuenta {
      display: block;
  }

  .titulo-cuotas {
      width: 33%;
      justify-content: center;
      align-self: center;
  }

  header .hamburguesa {
      display: none;
  }

  .logo-ml {
      width: 33%;
  }

  .barra-busqueda {
      width: 33%;
      height: 30px;
      justify-content: center;
      align-self: center;
  }

  .listas {
      display: flex;
      justify-content: space-between;
  }

  .lista-cuenta,
  .lista-ofertas {
      margin: 20px 20px 0 20px;
      display: flex;
      gap: 15px;
      align-items: space-between;
  }

  .descripciones {
    display: none;
    
  }
 
  .oculto {
    display: block;
  }
 
  main div article i {
    right: 30px;
    bottom: 19px;
  }
  .product:hover{
    box-shadow: 0px 0px 10px 0px rgb(100, 100, 100);
    .descripciones{
     padding-top: 30px;
     padding-bottom: 20px;
     text-align: center;
     font-size: 17px;
     display: block;
    }
    .fa-truck {
   bottom: 90px;
     transform: rotateZ(270deg);
   }

 }
 .opciones:hover{
   .icon-footer{
     color: #EAC926;
   }
   
 }
  
}

@media (min-width: 769px) {

.footer{
  display: flex;
  flex-direction: row;
}
  #logo{
   flex-basis: 200px;
  }
  .busqueda-general{
    display: flex;
    
    
  }
  .contenedor_productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  article.product {
    width: 40%;
    margin: 10px auto;
    height: max-content;
    padding: 20px;
  }
  #seccion_productos img,
  #seccion_ofertas img {
    object-fit: cover;
    height: 85%;
  }
  #busqueda {
    display: flex;
    margin-bottom: 15px;
  }
  
  #nav_bar nav {
    justify-content: space-between;
  }
  #nav_bar nav ul {
    width: auto;
    margin: 0 30px;
  }
  #nav_bar nav ul li {
    margin-left: 20px;
  }
  ul#menu_principal {
    justify-content: flex-start;
  }
  ul#menu_cliente {
    justify-content: flex-end;
  }
   /* .product {
    box-shadow: 0px 0px 10px 0px rgb(100, 100, 100);
  } */
  main div article i {
    right: 30px;
    bottom: 38px;
  }
  .product:hover{
    box-shadow: 0px 0px 10px 0px rgb(100, 100, 100);
    .descripciones{
     margin-top: 30px;
     display: block;

    }
    .fa-truck {
     
     
     bottom: 135px;
     transform: rotateZ(270deg);
   }

 }
 .opciones:hover{
   .icon-footer{
     color: #EAC926;
   }
   
 }
}
@media (min-width: 1024px) {
  .footer{
    display: flex;
    flex-direction: row;
  }
  #frase_cuotas{
    width: 400px;
    padding-top: 20px;
  }

  #nav_bar{
    padding-top: 40px;
  }

  #input_busqueda{
    width: 300px;
  }
 
  #logo{
    width: 300px;
  }
  article.product {
    width: 22%;
    height: max-content;
  }
  main div article i {
    bottom: 40px;
  }
  .precios,
  .descuentos {
    width: 50%;
    padding-top: 10px;
  }
  
.descripciones{
  display: none;
}
  .footer-general{
    flex-direction: row;
  }
  
  .product:hover{
     box-shadow: 0px 0px 10px 0px rgb(100, 100, 100);
     .descripciones{
      margin-top: 30px;
      display: block;
     }
     .fa-truck {
      
      
      bottom: 137px;
      transform: rotateZ(270deg);
    }

  }
  .opciones:hover{
    .icon-footer{
      color: #EAC926;
    }
    
  }
}